FIREBASE_PROJECT_ID=lojatopmix
FIREBASE_DATABASE_URL=https://lojatopmix-default-rtdb.firebaseio.com
APP_BASE_URL=https://lojatopmix.web.app
INFINITEPAY_REDIRECT_URL=https://lojatopmix.web.app/checkout/retorno
INFINITEPAY_WEBHOOK_URL=https://lojatopmix.web.app/api/infinitePayWebhook
